/* ================*/

/* Basic Setup */

/* =========== */
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

html{

	font-size: 62.5%;
	scroll-behavior: smooth ;

}

body {

	font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility;
	/*line-height: rem;*/

}

ul li {
	list-style-type: none ;
}

/* Heading */
h1{
	font-size: 3.1rem;
	color: #fff;
}

/*
.clearfix::after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
*/

/*=========================*/
/* Reusable Components */
/*========================== */


.row {

	margin : 0 auto;
}

section{
	padding: 8rem 0;
}

h2{
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 2rem;
	color: #fff;
	text-align: center;
}

h2::after{
   content: " ";
   display: block;
   height: .4rem;
   background: #fff;
   width: 8.5rem;
   margin: auto;
   margin-top: 2rem;
}

h3{
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
}

h4{
	font-size: 1.8rem;
	font-weight: 400;
	margin-top: 2.5rem;
}
.box {
	padding: 1%;

}

.box p{
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 2rem;
	color: #fff;

}


/* Little description - Praragarph */

.little-description{
   
   font-size: 1.8rem;
   width: 60%;
   margin-left: 20%;
   line-height: 3rem;

}

/* Button */
.btn:link,
.btn:visited,
.btn{
	background: #333;
	border-bottom: .3rem solid #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 6rem;
	border-radius: 0.5rem;
	display: inline-block;
	margin-top: 4.5rem;
	font-size: 1.6rem;
}


/*===============================*/
     /* Header Section */
/*===============================*/


header{


background:-webkit-gradient(linear,left top, left bottom,from(rgba(135, 80, 156, 0.9)),to(rgba(135, 80, 156, 0.9))),
url(img/hero-bg.jpg);


background:linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)),
url(img/hero-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 85vh;
position: relative;

background-attachment: fixed;


}
.logo{
	height: 3.5rem;
	width: auto;
	margin-top: 3.5rem;
	float: left;
}

.hero-text-box{
	width: 144rem;
}

/* Main Navigation */

.main-nav{
	float : right;
	margin-top: 4.0rem;
}
.main-nav li {
	display: inline-block;
	margin-left: 1rem;

}
.main-nav li:first-child{
	margin-left: 0;
	border-radius: 0.3rem;
}

.main-nav li a:link,
.main-nav li a:visited {

	color: #fff;
	text-decoration: none;
	background: rgba(100, 58, 121, 0);
	padding: 0.6rem 1.6rem;
	border-radius: 0.3rem;
	display: inline-block;
	font-size: 1.6rem;
	-webkit-transition: .3s;
	transition: .3s;
	
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {

	background: rgba(100, 58, 121, 1);

}
.active{
	background: rgba(100, 58, 121, 1);
}

 /* Sticky Navigation */

 .sticky{
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	background: #87509c;
 	padding: 1rem 0;
 	-webkit-box-shadow: 0 .2rem .5rem rgba(255, 255, 255, 0.9);
 	box-shadow: 0 .2rem .5rem rgba(255, 255, 255, 0.9);
 	z-index: 9999;



 }
 .sticky .logo{
 	margin-top: 0;
 	margin-left: 0;
 }

 .sticky .main-nav{
 	margin-top: .5rem;

 }

 .sticky .mobile-menu span{
 	margin-top: 0;
 	line-height: 1;
 }

 /*mobile menu */

 .overlay{
 	width: 0;
 	height: 100%;
 	position: fixed;
 	top: 0;
 	left: 0;
 	background-color: rgba(0, 0, 0, 0.9);
 	z-index: 1;
 	overflow: hidden;
 	-webkit-transition: .5s;
 	transition: .5s;
 }

 .overlay-content{
 	position: relative;
 	top: 20%;
 	width: 100%;
 	text-align: center;
 	

 }

 .overlay a{
 	text-decoration: none;
 	display: block;
 	font-size: 3rem;
 	text-transform: uppercase;
 	letter-spacing: .3rem;
 	color: #999;
 	padding: 1rem 0;
 }

 .overlay a:hover{
 	color: #fff;
 }

 .closebtn{
 	position: absolute;
 	top: 2rem;
 	right: 4.5rem;
 	font-size: 6rem;
 }

 .mobile-menu span{
 	color: #fff;
 	font-size: 4rem;
 	float: right;
 	margin-top: 2rem;
 	display: none;
 }

.mobile-menu span:hover{

	cursor: pointer;
}

.hero-text-box
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.btn-hero:link,
.btn-hero:visited{
	background: #eb7d4b;
	border-color: #c86a49;
}



/*===============================*/
     /* Services Section */
/*===============================*/




.services-section{
	color: #fff;
	text-align: center;
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(23, 194, 164, 0.9)),to(rgba(23, 194, 164, 0.9))), url(img/services-bg.jpg);
	background: linear-gradient(rgba(23, 194, 164, 0.9),rgba(23, 194, 164, 0.9)), url(img/services-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;


}

.services-section h2::after{
	background: #14a58c;
}

.services-icon{

	height: 12rem;
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;

}


/*===============================*/
     /* Team Section */
/*===============================*/


.team-section{
	
	text-align: center;
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(231, 241, 248, 0.9)),to(rgba(231, 241, 248, 0.9))), url(img/team-bg.jpg);
	background: linear-gradient(rgba(231, 241, 248, 0.9),rgba(231, 241, 248, 0.9)), url(img/team-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.team-section h2{
	color: #3c4761;
}

.team-section h2::after{

	background: #c8d9e5;
}

.team-member{
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
}


.team-section h3{
	color: #27283d;
}

.role{

	color: #30bae7;
	font-size: 1.6rem;
	text-transform: uppercase;
	margin-top: .6rem;
	display: inline-block;
}
.team-section .box p{
    color: #3c4761;
    font-size: 1.6rem;
}

.social-link{
	margin-top: 4.5rem;

}
.social-link ul li{
	display: inline-block;
	margin: 0 .5rem;
}

.social-link ul li a i{
	color: #fff;
	margin-top: 4rem;
}

.social-link ul li a:link i::before{
	
	background: #bdd1df;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	font-size: 2rem;
	padding: 1rem;
	-webkit-transition: .5s;
	transition: .5s;
}

.social-link ul li a:hover i::before{
	background: #393939;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);

}

/*===============================*/
     /* Skill Section */
/*===============================*/

.skill-section{
	text-align: center;
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(255, 255, 255, 0.9)),to(rgba(255, 255, 255, 0.9))), url(img/skill-bg.jpg);
	background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url(img/skill-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.skill-section h2,h3{
	color: #3c4761;
}
.skill-section h2::after{
	background: #dfe8ed;
}

.skill-section box{
	margin-top: 4.5rem;
}

svg.radial-progress circle{
	stroke-width: 6;

}
svg.radial-progress text{
	fill: #3c4761;
	font-size: 1.5rem;
}

svg.web-design circle{
	stroke: #30bae7;
}
svg.html-css circle{
	stroke: #d74680;
}

svg.graphic-design circle{
	stroke: #15c7a8;
}

svg.ui-ux circle{
	stroke: #eb7d4b;
}



/*===============================*/
     /* Portfolio Section */
/*===============================*/

.portfolio-section{
	background:-webkit-gradient(linear,left top, left bottom,from(rgba(255 ,221, 153, 0.9)),to(rgba(255, 221, 153, 0.9))), url(img/portfolio-bg.jpg);
	background:linear-gradient(rgba(255 ,221, 153, 0.9),rgba(255, 221, 153, 0.9)), url(img/portfolio-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
}

.portfolio-section h2{
	color: #3c4761;
}
.portfolio-section h2::after{
	background:#e5c37f ;
}

.portfolio-filter {
	margin: 4.5rem;
}

.portfolio-filter button{
	background: #ebc985;
	font-size: 1.8rem;
	padding: 1rem 2rem;
	border: 0;
	border-radius: .5rem;
	text-transform: uppercase;
	color: #3c4761;
	margin: 0 .5rem;
	-webkit-transition: .5s;
	transition: .5s;
}
.portfolio-filter button:hover{
	cursor: pointer;
	-webkit-box-shadow: inset 0 .3rem .5rem #3c4761;
	box-shadow: inset 0 .3rem .5rem #3c4761;
}

.portfolio-image{
	width: 100%;
	height: auto;
}

.portfolio-section .col:nth-child(3){
	margin-left: 0;
}



.portfolio-section .btn-load-more{
	background: #17c2a4 ;
	border-color: #14a58c ;
}

.portfolio-section .mixitup-control-active {
	background: #fff;
}

/*===============================*/
     /* Testimonial Section */
/*===============================*/

.testimonial{
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(215, 70, 128, 0.9)),to(rgba(215, 70, 128, 0.9))),
	url(img/testimonial-bg.jpg);
	background: linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)),
	url(img/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
.testimonial .little-description{
	text-align: center;
	color: #fff;
}
.testimonial .col:nth-child(3){
	margin-left: 0;
}

.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){
	margin-top: 4rem;
}

.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
	margin-top: 8rem;
}

.client-photo{
	width: 10rem;
	float: left;

}

.client-photo img{
	height: 8rem;
	border-radius: 50%;
	margin-bottom: 3rem;
}

.client-review{
	width: 35rem;
	float: left;
}

.client-review p{
	font-size:2.1rem ;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 2rem;
}

.client-review .role{
	color: #ffdd99;
}

/*===============================*/
     /* Contact Section */
/*===============================*/


.contact-section{
	text-align: center;
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(60, 84, 153, 0.9)),to(rgba(60, 84, 153, 0.9))) , 
	url(img/contact-bg.jpg);
	background: linear-gradient(rgba(60, 84, 153, 0.9),rgba(60, 84, 153, 0.9)) , 
	url(img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;



}

.contact-section h2::after{
	background: #273a71;
}

.contact-section .little-description{
	color: #fff;
}

.contact-section form{
	margin-top: 5rem;
	width: 70%;
	margin-left: 15%;


}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
	background: #273a71;
	border: .1rem solid #273a71;
	width: 100%;
	padding: 1.5rem;
	border-radius: .5rem;
	font-size: 1.8rem;
	color: #fff;
	margin: .5rem 0;

}

.contact-section form :-ms-input-placeholder{
	color: #fff;
	opacity: 1;
	font-size: 1.8rem;
}

.contact-section form ::-webkit-input-placeholder{
	color: #fff;
	opacity: 1;
	font-size: 1.8rem;
}

.contact-section form ::placeholder{
	color: #fff;
	opacity: 1;
	font-size: 1.8rem;
}

.btn-submit{
	border: 0;
	border-bottom: .5rem solid #299ec5;
	background: #30bae7;
}

.btn-submit:hover{
	cursor: pointer;
}


/*===============================*/
     /* Footer Section */
/*===============================*/

.footer-section{
	background: #344b8e;
	padding: 3rem 0;
	text-align: center;
	border-top:.1rem solid rgba(255, 255, 255, 0.4) ;


}

.footer-section li{
	display: inline-block;
	margin: 0 2rem;
}

.footer-section li a {
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 2.4rem;
}


.footer-section li:hover a {
	color: #30bae7;
	
}